.mainLog{
    background-color: rgb(32, 62, 77);
    padding: 3rem;
    border-radius: 3rem;
    margin-bottom: 11rem;
}
.mainRes{
    background-color: rgb(32, 62, 77);
    padding: 3rem;
    border-radius: 3rem;
    margin-bottom: 11rem;
    color: antiquewhite;
}