.pt-3{
    background-color: antiquewhite;
    margin-bottom: 5rem;
    margin-left: 2rem;
    padding: 1rem;
}
.img-prod{
    background-color: antiquewhite;
    margin-top: 6rem;
}
.loco{
    margin-left: 4rem;
}